In [2]:
import pandas as pd

# Creating a dataframe to store Quiz Questions and answers
quiz_questions = pd.DataFrame(columns = ["Question No.","Topic","Difficulty Level","Question","Options","Answer"])

# Creating dataframe to store users names and their scores
users = pd.DataFrame(columns = ["UserName","Scored Marks","Total Marks"])

# Function to add a question to the quiz_questions dataframe
# only super user is allowed to add a question
# Enter "super" when system asks the type of user
def add_question():
    print("\n")
    print("There are {0} questions".format(len(quiz_questions.index)))
    print("Enter the Questions in the order")
    print("Enter Question No")
    ques_no = input()
    print("Enter the Topic")
    topic= input()
    print("Enter Difficulty Level")
    diff_level= input()
    print("Enter the Question")
    ques= input()
    print("Enter the options")
    opt = input()
    print("Enter the Answer")
    ans = input()
    quiz_questions.loc[len(quiz_questions)] = [ques_no,topic,diff_level,ques,opt,ans]
    

# Function to attend the quiz
# Except super user all other users can attend the quiz
def attend_quiz():
    print("\n")
    print("There are {0} questions".format(len(quiz_questions.index)))
    print("Each question carries 10 marks")
    print("Total marks:{0}".format(len(quiz_questions.index)*10))
    print("\n")
    print("Enter UserName:")
    user_name = input()
    score=0
    report_correct =[]
    report_wrong = []
    for i in range(len(quiz_questions)):
        print("\n")
        print(quiz_questions.loc[i,"Question No."],quiz_questions.loc[i,"Question"])
        print(quiz_questions.loc[i,"Options"])
        print("Enter the Answer:")
        if input()==(quiz_questions.loc[i,"Answer"]):
            score+=1
            report_correct.append([quiz_questions.loc[i,"Question No."],quiz_questions.loc[i,"Question"],quiz_questions.loc[i,"Answer"]])
        else:
            report_wrong.append([quiz_questions.loc[i,"Question No."],quiz_questions.loc[i,"Question"],quiz_questions.loc[i,"Answer"]])
            pass
    users.loc[len(users)] = [user_name,score*10,len(quiz_questions.index)*10]
    print("\n")
    print("{0} your score is {1} out of {2}".format(user_name,score*10,len(quiz_questions.index)*10))
    print("\n")
    print("Questions which are Correctly Answered are")
    print("\n")
    if report_correct:
        for i in report_correct:
            print(i[0],i[1])
            print("   Correct Answer:{0}".format(i[2]))
    else:
        print("No Correct Answers")
    print("\n")
    print("Questions which are Wrongly Answered are")
    print("\n")
    if report_wrong:
        for j in report_wrong:
            print(j[0],j[1])
            print("   Correct Answer:{0}".format(j[2]))
    else:
        print("No Wrong Answers")
    
def check_superuser_or_user():
    print("Enter the user type:")
    if input()=="super":
        print("Super User")
        add_question()
    else:
        print("Normal User")
        attend_quiz()
        
check_superuser_or_user()

Enter the user type:
super
Super User


There are 0 questions
Enter the Questions in the order
Enter Question No
1
Enter the Topic
Data types
Enter Difficulty Level
Easy
Enter the Question
Select Mutable datatype from the below options
Enter the options
a.int b.str c.dict d.None of the above
Enter the Answer
c.dict

In [3]:
quiz_questions

,Question No.,Topic,Difficulty Level,Question,Options,Answer
0,1,Data types,Easy,Select Mutable datatype from the below options,a.int b.str c.dict d.None of the above,c.dict

In [4]:
check_superuser_or_user()

Enter the user type:
super
Super User


There are 1 questions
Enter the Questions in the order
Enter Question No
2
Enter the Topic
Operators
Enter Difficulty Level
Easy
Enter the Question
print("p" in "python")
Enter the options
a.True b.False c.None d.Error
Enter the Answer
a.True

In [5]:
quiz_questions

,Question No.,Topic,Difficulty Level,Question,Options,Answer
0,1,Data types,Easy,Select Mutable datatype from the below options,a.int b.str c.dict d.None of the above,c.dict
1,2,Operators,Easy,"print(""p"" in ""python"")",a.True b.False c.None d.Error,a.True

In [6]:
check_superuser_or_user()

Enter the user type:
super
Super User


There are 2 questions
Enter the Questions in the order
Enter Question No
3
Enter the Topic
Operators
Enter Difficulty Level
Easy
Enter the Question
print([1,2,3] == [4,5,6])
Enter the options
a.True b.False c.None d.Error
Enter the Answer
b.False

In [7]:
quiz_questions

,Question No.,Topic,Difficulty Level,Question,Options,Answer
0,1,Data types,Easy,Select Mutable datatype from the below options,a.int b.str c.dict d.None of the above,c.dict
1,2,Operators,Easy,"print(""p"" in ""python"")",a.True b.False c.None d.Error,a.True
2,3,Operators,Easy,"print([1,2,3] == [4,5,6])",a.True b.False c.None d.Error,b.False

In [8]:
check_superuser_or_user()

Enter the user type:

Normal User


There are 3 questions
Each question carries 10 marks
Total marks:30


Enter UserName:
Karthik


1 Select Mutable datatype from the below options
a.int b.str c.dict d.None of the above
Enter the Answer:
a.int


2 print("p" in "python")
a.True b.False c.None d.Error
Enter the Answer:
b.False


3 print([1,2,3] == [4,5,6])
a.True b.False c.None d.Error
Enter the Answer:
b.False


Karthik your score is 10 out of 30


Questions which are Correctly Answered are


3 print([1,2,3] == [4,5,6])
   Correct Answer:b.False


Questions which are Wrongly Answered are


1 Select Mutable datatype from the below options
   Correct Answer:c.dict
2 print("p" in "python")
   Correct Answer:a.True

In [9]:
users

  UserName Scored Marks Total Marks
0  Karthik           10          30

In [10]:
check_superuser_or_user()

Enter the user type:
Vishal
Normal User


There are 3 questions
Each question carries 10 marks
Total marks:30


Enter UserName:
Vishal


1 Select Mutable datatype from the below options
a.int b.str c.dict d.None of the above
Enter the Answer:
c.dict


2 print("p" in "python")
a.True b.False c.None d.Error
Enter the Answer:
a.True


3 print([1,2,3] == [4,5,6])
a.True b.False c.None d.Error
Enter the Answer:
a.True


Vishal your score is 20 out of 30


Questions which are Correctly Answered are


1 Select Mutable datatype from the below options
   Correct Answer:c.dict
2 print("p" in "python")
   Correct Answer:a.True


Questions which are Wrongly Answered are


3 print([1,2,3] == [4,5,6])
   Correct Answer:b.False

In [11]:
users

  UserName Scored Marks Total Marks
0  Karthik           10          30
1   Vishal           20          30

In [12]:
check_superuser_or_user()

Enter the user type:

Normal User


There are 3 questions
Each question carries 10 marks
Total marks:30


Enter UserName:
suman


1 Select Mutable datatype from the below options
a.int b.str c.dict d.None of the above
Enter the Answer:
c.dict


2 print("p" in "python")
a.True b.False c.None d.Error
Enter the Answer:
a.True


3 print([1,2,3] == [4,5,6])
a.True b.False c.None d.Error
Enter the Answer:
b.False


suman your score is 30 out of 30


Questions which are Correctly Answered are


1 Select Mutable datatype from the below options
   Correct Answer:c.dict
2 print("p" in "python")
   Correct Answer:a.True
3 print([1,2,3] == [4,5,6])
   Correct Answer:b.False


Questions which are Wrongly Answered are


No Wrong Answers

In [13]:
users

  UserName Scored Marks Total Marks
0  Karthik           10          30
1   Vishal           20          30
2    suman           30          30